@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 400;
}
.hero__title{
    font-size: 4.8rem;
}
.hero__title, .hero__p, .btnWrapper{
    padding: 1rem;
}
.btnWrapper{
    margin: 2rem auto;
}

@media screen and (max-width: 25em){
    html{
        font-size: 50%;
    }
}
